@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

li {
  margin: 10px
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 10px;
}

.header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
}

.left-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-links {
  display: flex;
}