@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links-top-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #918989;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-bottom-container {
  background-color: #eeeeee;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.left-links {
  justify-content: space-between;
}

.right-links {
  justify-content: space-between;
}