/* Add CSS Styling */

.odd {
    background-color: rgb(225, 115, 151);
    font-family: 'Verdana', 'DejaVu Sans', sans serif;
}

#special {
    color: blue;
    font-size: 36px
}

.odd.one {
    font-size: 24px
}

#spectacular {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold
}