.header  {
  font-family: monospace;
  background: papayawhip;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.logo {
  margin: 10px;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  border: 1px solid black;
  padding: 4px 32px;
  align-self: center; 
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  gap: 15px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

