/* Add CSS Styling */

button {
    font-size: 28px;
    font-family: 'Helvetica-Times New Roman', sans-serif
}

.left {
    background-color: rgb(0, 0, 0);
    color: white
}

.right {
    background-color: rgb(221, 255, 0);
}